* {
  padding: 0;
  margin: 0;
}
#app {
  padding: 20px 8px;
  width: 600px;
  min-height: 200px;
  background-color: #f8f9fa;
}
.title {
  margin-bottom: 10px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
}
.form {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
}
.form-fixed {
  position: fixed;
  top: 0;
  left: 8px;
  right: 8px;
}
.form-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item  > span {
  width: 100px;
}
.form-time {
  flex: 1;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.form-totaltime {
  height: 30px;
  line-height: 30px;
}
.form-btn {
  margin-left: 8px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #1890ff;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 400;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.btn-export {
  border: 1px solid #13ce66;
  color: #fff;
  background-color: #13ce66;
  border-color: #13ce66;
}
.btn-delete {
  border: 1px solid #f56c6c;
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.table {
  margin-top: 10px;
  padding: 0;
  border: 1px solid #dfe6ec;
  border-left: none;
}
.table-header,.table-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-col {
  padding: 10px;
  flex: 1;
  border-left: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
}

.table-row:last-child > .table-col{
  border-bottom: none;
}
.table-empty {
  border-left: 1px solid #dfe6ec;
  padding: 20px;
  text-align: center;
}